<div class="col-12 offset-md-2 col-md-8">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eos labore nemo repellat dolorum, omnis hic ipsum facilis dicta voluptates molestiae distinctio non, quis eaque odio illo iste tenetur a!
    Optio porro quas quae temporibus nobis aliquam maxime eos sapiente deserunt corporis molestias voluptate, ut itaque sequi eius rerum, fugiat odit perspiciatis a nemo! Ducimus, at culpa. Ad, accusamus dolore.
    Soluta, placeat dolorum? Quo, dolorum? Repellat libero odit, tenetur animi minus accusamus dicta itaque distinctio, rem officia laborum? Ratione nam nostrum laudantium reiciendis vel consequuntur obcaecati nemo maiores unde molestiae?
</div>